:root {
  --primaryColor: #aaaaaa;
  --secondaryColor: #e0e0e0;
  --tertiaryColor: #212121;
  height: 100%;
}

body {
  background: black;
  font-family: 'Ubuntu';
  color: #f5f5f5;
  font-weight: 300;
}

#container {
  height: auto;
  padding-bottom: 20px;
  width: 360px;
  margin: 100px auto;
  background: #111111;
  border-radius: 16px;
}

#titlePage {
  background: var(--primaryColor);
  color: black;
  padding: 25px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: normal;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  text-align: center;
  margin-bottom: 20px;
}

#tipsForm {
  text-align: center;
}

input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
  
}
input[type=number] { 
 -moz-appearance: textfield;
 appearance: textfield;

}

#container .textContainer {
  color: #f5f5f5;
}

#container .textContent {
  color: #e0e0e0;
}

#container .formInput {
  background: transparent;
  width: 40px;
  padding: 10px;
  color: #f5f5f5;
  border-radius:8px;
  border: 2px solid var(--primaryColor);
  text-align: center;
  margin: 0 5px;
}

#container .formInput:focus {
  font-weight: bold;
}

#container .formSelect {
  width: auto;
  padding: 5px;
  font-size: 12px;
  text-align: center;
  background-color: #111111;
  color: #f5f5f5;
  border-radius: 4px;
  border: 2px solid var(--primaryColor);
}

#container .formSelect:focus {
  border-color: white;
  font-weight: bold;
}

#container .formSubmit {
    text-transform: uppercase;
    font-weight: 500;
    display: block;
    margin: 30px auto;
    background: var(--primaryColor);
    border-radius: 4px;
    border-color: #ffffff;
    border-style: none;
    padding: 16px;
    font-size: 14px;
    color: black;
    transition: 0.2s;
}

#container .formSubmit:hover {
  transform: scale(1.1);
  background: white;
  color: black;
  font-weight: bold;
}

#container #totalTip {
  font-size: 20px;
  margin-top: 5px;
  text-align: center;
}